.w-fc {
  width: fit-content;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mw-0 {
  min-width: 0;
}

.mh-0 {
  min-height: 0;
}

.fwr-wrap {
  flex-wrap: wrap;
}

.fwr-nowrap {
  flex-wrap: nowrap;
}

.twr-wrap {
  text-wrap: wrap;
}

.twr-nowrap {
  text-wrap: nowrap;
}

.ta-left {
  text-align: left !important;
}

.ta-center {
  text-align: center !important;
}

.ta-right {
  text-align: right !important;
}

.bdf-b {
  backdrop-filter: blur(5px);
}

.fw-bold {
  font-weight: bold;
}

/*  */

.dp-flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-s {
  justify-content: start;
}

.ai-s {
  align-items: start;
}

.ai-c {
  align-items: center;
}

.ai-e {
  align-items: end;
}

.fsh-0 {
  flex-shrink: 0;
}

.fsh-1 {
  flex-shrink: 1;
}

.fsh-1w {
  flex-shrink: 1;
  min-width: 0;
}

.fsh-1h {
  flex-shrink: 1;
  min-height: 0;
}

.fgr-0 {
  flex-grow: 0;
}

.fgr-1 {
  flex-grow: 1;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 2rem;
}

.gap-4 {
  gap: 3rem;
}

.gap-5 {
  gap: 4rem;
}

*[clickable] {
  cursor: pointer;
}

*[noselect] {
  user-select: none;
}

*[expand] {
  width: 100%;
  height: 100%;
}

*[underlined] {
  text-decoration: underline;
}

.p-1 {
  padding: 2px;
}

.p-2 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.5rem;
}

.p-4 {
  padding: 0.75rem;
}

.p-5 {
  padding: 1rem;
}
